extends layout

block content
  div.pregame
    img(src="/images/time.png", width="100px")
    p.pregame
      span We know you're excited
      br
      span to start snapping away,
    p.pregame
      span but the game begins at
      br
      span.gameTime 2pm on Friday.
    p.pregame
      span Please come back then!