extends layout

block content
  div
    p.greeting
      span Hi 
      span.name Asif Choudhury
      span !
      br
      span You're currently in 
      span.place 24th place 
      span with 
      span.points 200 points
      span .
  a#photoButton(href="#", data-role="button", data-inset="true", class="menu-item")
    img(src="/images/cameraIcon.png")
    span Take a Photo
  a#galleryButton(href="/gallery", data-role="button", data-inset="true", class="menu-item")
    img(src="/images/galleryIcon.png")
    span Photo Gallery
  form#selfieForm(enctype="multipart/form-data", method="POST", action="/tag", data-ajax="false")
    input#photoFile(name="photoFile", type="file",accept="image/*;capture=camera",data-role="none")
    script(src="/scripts/home.js")
