extends layout

block content
  div
    p.greeting
      span Hi 
      span.name= user.name
      span !
      br
      span You're currently in 
      span.place= user.place + " place " 
      span with 
      span.points= user.points
      span .
  a#photoButton(href="#", data-role="button", data-inset="true", class="menu-item")
    img(src="/images/cameraIcon.png")
    span Take a Photo
  a#galleryButton(href="/gallery", data-role="button", data-inset="true", class="menu-item")
    img(src="/images/galleryIcon.png")
    span Photo Gallery
  a#leaderboardButton(href="/leaderboard", data-role="button", data-inset="true", class="menu-item")
    img(src="/images/leaderboardIcon.jpg", width="50px")
    span Leaderboard
  a#myGalleryButton(href="/myPhotos", data-role="button", data-inset="true", class="menu-item")
    img(src="/images/owngalleryIcon.jpg", width="50px")
    span View My Pictures
  form#selfieForm(enctype="multipart/form-data", method="POST", action="/tag", data-ajax="false")
    input#photoFile(name="photoFile", type="file",accept="image/*;capture=camera",data-role="none")
    script(src="/scripts/home.js")