extends layout

block content
  div(data-role="page")
    .ui-content(role="main")
      #banner
        img(width="30%", src="/images/awayDayLogo.png")
        | &nbsp;
        span#spSelfie Selfie
        | &nbsp;
        span#spQuest Quest
      a#photoButton(href="#", data-role="button", data-inset="true", class="menu-item")
        img(src="/images/cameraIcon.png")
        span Take a Photo
      form#selfieForm(enctype="multipart/form-data", method="POST", action="/tag", data-ajax="false")
        input#photoFile(name="photoFile", type="file",accept="image/*;capture=camera",data-role="none")
        script(src="/scripts/home.js")
