extends layout

block content
  div
    p.greeting
      span Hi 
      span.name= user.name
      span !
      br
      span The quest is over! You were in 
      span.place= user.place + " place " 
      span with 
      span.points= user.points
      span .
  a#galleryButton(href="/gallery", data-role="button", data-inset="true", class="menu-item", data-ajax="false")
    img(src="https://d1wb2yrm48p5uh.cloudfront.net/static/images/galleryIcon.png")
    span Photo Gallery
  a#leaderboardButton(href="/leaderboard", data-role="button", data-inset="true", class="menu-item")
    img(src="https://d1wb2yrm48p5uh.cloudfront.net/static/images/leaderboardIcon.png", width="50px")
    span Leaderboard
  a#myGalleryButton(href="/myPhotos", data-role="button", data-inset="true", class="menu-item")
    img(src="https://d1wb2yrm48p5uh.cloudfront.net/static/images/owngalleryIcon.png", width="50px")
    span My Selfies
