doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/themes/white01.min.css")
    link(rel="stylesheet", href="/themes/jquery.mobile.icons.min.css")
    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.2/jquery.mobile.structure-1.4.2.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js")
  body
    div(data-role="page")
      .ui-content(role="main")
        #banner
          img(width="30%", src="/images/awayDayLogo.png")
          | &nbsp;
          span#spSelfie Selfie
          | &nbsp;
          span#spQuest Quest

        block content
