extends layout

block content
  ul#galleryList(data-role="listview")
  a#nextPage(href="#{initialPage}", data-ajax="false") Next Page
  script(src="/scripts/pagedGallery.js")

  #confirmPopup(data-role="popup", data-dismissible="false")
    div(data-role="header")
      h1 Delete Selfie?
    .ui-content(role="main")
      h3.ui-title Are you sure you want to delete this selfie?
      button#deleteConfirm(data-role="button", data-theme="b", data-inline="true") Delete
      a(data-rel="back", data-role="button", data-inline="true") Cancel
  
