extends layout

block content
  h1= title
  img#selfiePreview(src="#{imgPath}", width="100%")
  form#tagForm(action="/save", method="POST", data-ajax="false")
    input#tagged(type="hidden", name="tagged")
    ul#userList(data-role="listview", data-filter="true", data-filter-reveal="true", data-filter-placeholder="Tag a TWer!", data-inset="true")
      li(data-icon="false")
        a(href="#", data-value="Asif") Asif
      li(data-icon="false")
        a(href="#", data-value="Cameron") Cameron
      li(data-icon="false")
        a(href="#", data-value="Pat") Pat
      li(data-icon="false")
        a(href="#", data-value="Demo") Demo
  button#saveButton(data-role="button") Save
  div#popup(data-role="popup", data-position-to="#saveButton")
    p Please tag someone!
  script(src="/scripts/tag.js")
